@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Lato&family=Poppins:ital,wght@0,400;0,500;1,500&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

* {
    box-sizing: border-box
}

nav {
    background-color: rgb(152, 140, 163);
}

.nav-container {

    min-height: 50px;
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    background-color: rgb(152, 140, 163);

}

.logo-container {

    display: flex;

    width: 50%;

}

.logo-container img {

    width: 50px;
    object-fit: cover;
    margin-right: 20px;

}

.logo-container p {
    font-size: 30px;

}

.hive-section {
    color: #e892cf;
    font-family: 400;
}

.nav-item-container {

    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-item-container a {
    text-decoration: none;
    font-size: 25px;
    color: white;
}

.nav-item-container .login-btn {
    background-color: #e892cf;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    color: black;

}

.banner-container {

    margin: 50px auto 0;
    max-width: 1400px;
    min-height: 50px;
    display: flex;
    background-color: #e6e9eb;
    padding: 10px;
    border-radius: 10px;
}

.icons-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto 40px;
}

.banner-text {

    width: 50%;
    text-align: center;
}

.banner-img {

    width: 50%;


}

.banner-img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.banner-text h1 {
    background-image: linear-gradient(to bottom, rgb(152, 140, 163), #e892cf);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 50px;

}

.banner-text p {
    font-size: 45px;
    font-family: 'Dancing Script', cursive;

}

.banner-btn {
    background-color: transparent;
    padding: 10px 20px;
    border: 2px solid rgb(88, 84, 49);
    margin-right: 20px;
    border-radius: 5px;

}

.grid-container {

    display: grid;
    max-width: 1400px;
    margin: 50px auto 0;
    min-height: 400px;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;

}

.single-product {


    background-color: rgb(189, 187, 198);
    border-radius: 10px;
    padding: 0 10px;
    box-shadow: 2px 2px 4px black;
}

.single-product img {
    width: 70%;
    display: block;
    margin: 0;

}

.product-icons-name-container {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-icon {
    font-size: 20px;

}

.product-icons-name-container span {
    padding: 5px;
    background-color: rgb(40, 109, 115);
    border-radius: 50%;
    margin-left: 5px;
    color: white;

}